<div id="botonera">
	<div id="titulo">
		<%%= page_title_h3("Mostrando ", '<%= singular_table_name %>') %>
	</div>

	<div id="botones">
		<%%= link_to_back "Volver", 0 %>
	</div>
</div>

<%%= render 'form' %>